---
import AppFooter from "../components/AppFooter.astro";
import AppHeader from "../components/AppHeader.astro";
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
		<meta property="og:title" content="SUSC" />
		<meta property="og:site_name" content="SUSC | 대학방학교류" />
		<meta property="og:description" content="SUSC는 대학 IT 동아리 연합으로, 방학기간에 세미나, 멘토링, 프로젝트, 연구, 공모전 등 다양한 활동을 진행합니다." />
		<meta property="og:image" content="https://susc.kr/susc.png" />
		<meta property="og:url" content="https://susc.kr" />
		<meta name="keywords" content = "susc, 대학방학교류, 멘토링, 세미나, 스터디, 대학교류, 방학교류" />
		<meta name = "description" content = "SUSC는 대학 IT 동아리 연합으로, 방학기간에 세미나, 멘토링, 프로젝트, 연구, 공모전 등 다양한 활동을 진행합니다." />
		<meta name="viewport" content="width=device-width" />
		<title>Seasonal University study & communication | SUSC</title>
		<link rel="canonical" href="https://susc.kr" />

        <link href="https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600;700&display=swap" rel="stylesheet" />
    </head>
    <body class="bg-white dark:bg-gray-900">
        <AppHeader />
        <slot />
        <AppFooter />
    </body>
</html>
<style>
    html {
        font-family: Urbanist, sans-serif;
        scroll-behavior: smooth;
    }

    body {
        margin: 0;
    }
</style>
